<main class="bg-white p-4 my-4 rounded-sm shadow-sm">
  <%= render "project", project: @project %>
  <hr class="my-4">
  <h1 class="text-lg font-bold mb-4">Comments (<%= @project.comments.count %>)</h1>
  <div data-react-comments data-user-signed-in="<%= user_signed_in? %>" data-project-id="<%= @project.id %>">
</main>
