@import "normalize.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --blue:      #0029D0;
  --blue-dark: #002F9B;
  --red:       #FF002A;
  --background:#EFF3F7;
  --black-text:#353535;
}

body {
  background-color: var(--background);
  color: var(--black-text);
}

abbr[title] {
  text-decoration: none;
}

@media (min-device-width: 320px) and (max-device-width: 768px) {
  input,
  select,
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }

  input[type="checkbox"] {
    -webkit-appearance: auto;
  }
}

.btn {
  @apply px-8 py-2 rounded-sm cursor-pointer text-sm text-white text-opacity-90 font-bold;
  white-space: nowrap;
}

.btn:hover {
  @apply text-opacity-100;
}

.simple_form {
  @apply mb-4;
}

.simple_form .input input.string,
.simple_form .input input.password,
.simple_form .input textarea.text,
.simple_form .input select.select {
  @apply w-full block p-2 border border-solid border-gray-300;
}

.simple_form .input input.boolean {
  @apply mr-2;
}

.simple_form div.input {
  @apply my-4;
}

.simple_form label {
  @apply block text-base font-medium text-gray-600 mb-1;
}

.simple_form .error {
  @apply block text-red-500;
}

.simple_form input[type=submit] {
  @apply btn;
  background-color: var(--red);
  text-transform: uppercase;
}
